:root {
    --brand-color: #2196F3;
    --defoult-color: #212121;
    --white-color:#FFFFFF;
    --littlewhite-color:#F5F4FA ;
    --gray-color: #757575;
}

body {
    font-family: Roboto;
    color:var(--defoult-color);
    ;
}

.knopka {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--littlewhite-color);
    color: var(--defoult-color);
    letter-spacing: 0.03em;


}
.knopka:hover {
background-color: var(--brand-color);
color: var(--white-color);
}

.knopka:focus {
    background-color: var(--brand-color);
color: var(--white-color);
}

.ssilka:hover {
    color: var(--brand-color);
}

.ssilka:focus {
    color: var(--brand-color);
}
.ssilka {
    color: var(--defoult-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
.logo {
    font-weight: 700;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    color: var(--defoult-color); 
    letter-spacing: 0.03em;
    }

.knopka2 {
    cursor: pointer;
    font-weight: 700;
    font-size: 16;
    line-height: 1.87;
    background-color: var(--littlewhite-color);
    color: var(--defoult-color);
    letter-spacing: 0.06em;
}
.knopka2:hover {
background-color: var(--brand-color);
color: var(--white-color);
}

.knopka2:focus {
    background-color: var(--brand-color);
color: var(--white-color);
}

.zagolovok1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.abzaz1 {
    color: var(--gray-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.kontakti { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--gray-color);
}

.kontakti:hover {
    color: var(--brand-color);
}

.kontakti:focus {
    color: var(--brand-color);
}

.zagolovok2 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.zagolovok5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.abzaz2 {
    font-size: 14px;
    line-height: 1.71;
    color: var(--gray-color);
    letter-spacing: 0.03em;
}

.zagolovok3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.zagolovok4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.abzaz3  {
    font-size: 16px;
    line-height: 1.17;
    color: var(--gray-color);
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--brand-color);
}

a { 
    text-decoration: none; 
}

li {
    list-style-type: none; 
}

ul {
    margin-left: 0; 
    padding-left: 0; 
}